<div class="row" *ngIf="modalData">
  <div class="col-9">
    <span
      ><b> {{ modalData.date | date: "MMMM d, y h:mm a" }}</b></span
    >
  </div>
  <div class="container col-2">
    <div class="btn-group">
      <div *ngIf="index != 0" (click)="onPrevious()" class="btn btn-primary">
        <
      </div>
      <div
        *ngIf="index + 1 != appointments.length"
        (click)="onNext()"
        class="btn btn-primary"
        style="margin-left: 0.5em"
      >
        >
      </div>
    </div>
  </div>
</div>

<div class="container mt-3" *ngIf="viewings">
  <mat-card class="mt-2" *ngFor="let view of viewings">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-4">
            <img
              src="https://image.shutterstock.com/image-photo/house-600w-700094266.jpg"
              alt="Photo of haouse"
            />
          </div>
          <div class="col-8">
            <p>
              <b>{{ view.property.name }}</b>
            </p>
            <p class="text-muted">
              {{ view.property.address.street }}
              {{ view.property.address.houseNumber }},
              {{ view.property.address.zipCode }}
              {{ view.property.address.city }}
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-4">
            <img
              src="https://image.shutterstock.com/image-photo/handsome-unshaven-young-darkskinned-male-600w-640011838.jpg"
              alt="Photo of agent"
            />
          </div>
          <div class="col-8">
            <p>
              <b
                >{{ view.property.user.profile.firstname }}
                {{ view.property.user.profile.name }}</b
              >
            </p>
            <p class="text-muted">{{ view.property.user.usertype }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col">
        <p>
          <mat-icon>person_outline</mat-icon>
          {{ view.attendeeCount }} | {{ view.maxInviteeCount }}
        </p>
      </div>
    </div>
  </mat-card>
</div>
